<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" media="screen">
  <link rel="stylesheet" th:href="@{/css/homepage.css}" media="screen">
  <title>Login Page</title>
</head>
<body>
<div class="container-fluid">
  <div class="row main-content bg-success text-center">
    <div class="col-md-4 text-center company__info">
      <span class="company__logo"><h2><span class="fa fa-android"></span></h2></span>
      <h5 class="company_title">WELCOME</h5>
      <h4 class="company_title">SUMMATIVE 3</h4>
    </div>
    <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
      <div class="container-fluid">
        <div class="row d-flex justify-content-center mt-4">
          <h2>Register Form</h2>
        </div>
        <div class="row ">
          <form action="succes.html" th:action="@{/success}" class="form-group" method="post" th:object="${user}">
            <div class="row ">
              <input type="text" th:field="*{firstName}" class="form__input" placeholder="Your First Name">
              <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
            </div>
            <div class="row">
              <input type="text" th:field="*{lastName}" name="lastname" id="lastname" class="form__input" placeholder="Your Last Name">
              <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
            </div>
            <div class="row">
              <input type="email" th:field="*{email}" class="form__input" placeholder="Your Email"/>
              <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email can't be empty</span>
            </div>
            <div class="row">
              <input type="text" name="phone" th:field="*{phoneNumber}" id="phone" class="form__input" placeholder="Your Phone Number">
              <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
            </div>
            <div class="row">
              <label class="mt-4">Birth Date</label>
              <input type="date" name="birthdate" th:field="*{birthDate}" id="birthdate" class="form__input">
              <span th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></span>
            </div>
            <div class="row">
              <label class="mt-4">Gender</label>
              <div class="input-group mb-3">
                <select class="custom-select" th:field="*{gender}" id="inputGroupSelect01">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
                <span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></span>
              </div>
            </div>
            <div class="row">
              <input type="password" th:field="*{password}" name="password" id="password" class="form__input" placeholder="Your Password">
              <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
              <label for="password">*password harus berisi minimal 1 huruf besar, 1 special karakter, alfabet, dan 1 angka</label>
              <input type="password" th:field="*{passwordRepeat}" name="repassword" id="repassword"   class="form__input" placeholder="Re-Type Password">
              <span th:if="${#fields.hasErrors('passwordEqual')}" th:errors="*{passwordEqual}"></span>
            </div>
            <div class="row">
              <input type="submit" value="Submit" class="btn ml-5">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>