<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" media="screen">
    <link rel="stylesheet" th:href="@{/css/homepage.css}" media="screen">
    <title>Login Page</title>
</head>
<body>
<!-- Main Content -->
<div class="container-fluid">
    <div class="row main-content bg-success text-center">
        <div class="col-md-4 text-center company__info">
            <span class="company__logo"><h2><span class="fa fa-android"></span></h2></span>
            <h5 class="company_title">WELCOME</h5>
            <h4 class="company_title">SUMMATIVE 3</h4>
        </div>
        <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
            <div class="container-fluid">
                <div class="row d-flex justify-content-center mt-4">
                    <h2>Log In</h2>
                </div>
                <div class="row ">
                    <form th:action="@{/welcome}" th:object="${user}" class="form-group">
                        <div class="row ">
                            <input type="text" name="username" id="username" class="form__input" placeholder="Username">
                        </div>
                        <div class="row">
                            <!-- <span class="fa fa-lock"></span> -->
                            <input type="password" name="password" id="password" class="form__input" placeholder="Password">

                        </div>
                        <div class="row d-flex justify-content-center">
                            <input type="checkbox" name="remember_me" id="remember_me" class="mt-1">
                            <label class="ml-2" for="remember_me">Remember Me!</label>
                        </div>
                        <button type="button" class="btn btn-primary btn-sm ml-4 mb-3">Clear</button>
                        <div class="row">
                            <input type="submit" value="Sign-in" class="btn ml-5">
                        </div>
                    </form>
                </div>
                <div class="row">
                    <p>Don't have an account? <a href="/form">Register Here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
